<nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'AppProyectoInicio' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'AppProyectoPeliculaForm' %}">Peliculas</a>

                {% if  user.is_authenticated %}
                    <img height="40px" src= "{{ user.avatar.imagen.url }}" alt="">
                    <h5> Bienvenido {{ user.get_username }}</h5>
                    <a class="btn btn-primary" href="{% url 'UserProyectoLogout' %}">Cerrar Sesion</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'UserProyectoRegister' %}">Registrarse</a>
                    <a class="btn btn-primary" href="{% url 'UserProyectoLogin' %}">Iniciar sesion</a>
                {% endif %}



            </div>
        </nav>
